@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ops!</title>
    <style>
        .error-message{
            width:80%;
            margin:200px auto;
            text-align:center;
            font-size:54px;
        }
    </style>
</head>
<body>
    <div class="error-message">Ops! Algo não correu como o esperado...</div>
</body>
</html>